@{
    Layout = "_Layout";
    RouteButton bazaar = new RouteButton(UtilityP.Routes[RouteP.SKYBLOCK_BAZAAR], "Bazaar");
    RouteButton auctions = new RouteButton(UtilityP.Routes[RouteP.SKYBLOCK_AUCTIONS], "Auctions");
    RouteButton[] routeButtons = [bazaar, auctions];
}

<div class="border-2 border-black border-x-0 mt-2">
    <div class="border-b-2 border-black flex gap-2 justify-center p-2 items-center [&>*]:w-24">
        @foreach (RouteButton routeButton in routeButtons)
        {
            <partial name="_RouteButton" model="@(routeButton)" />
        }
    </div>
    @RenderBody()
</div>