@page "/skyblock/bazaar"
@model SkyblockBazaarModel

<div class="flex">
    <div id="bazaar-buys" class="bazaar-column relative">
        <button class="button w-24 group relative" hx-get="@(UtilityP.Routes[RouteP.HTMX_BAZAAR_BUY])"
            hx-target="#@(UtilityP.HTMX[Target.BZ_BUY_RESULTS])" hx-indicator="#@(UtilityP.HTMX[Target.LOADING_ICON])">
            <span class="visible group-hover:invisible">BUYS</span>
            <span class="absolute-center invisible group-hover:visible">REFRESH</span>
        </button>
        <div id="@(UtilityP.HTMX[Target.BZ_BUY_RESULTS])"></div>
    </div>
    <div id="bazaar-sells" class="bazaar-column relative">
        <button class="button w-24 group relative" hx-get="@(UtilityP.Routes[RouteP.HTMX_BAZAAR_SELL])"
            hx-target="#@(UtilityP.HTMX[Target.BZ_SELL_RESULTS])" hx-indicator="#@(UtilityP.HTMX[Target.LOADING_ICON])">
            <span class="visible group-hover:invisible">SELLS</span>
            <span class="absolute-center invisible group-hover:visible">REFRESH</span>
        </button>
        <div id="@(UtilityP.HTMX[Target.BZ_SELL_RESULTS])"></div>
    </div>
</div>