@page "/"
@model IndexModel

<div class="relative-center left-1/2 top-1/2 flex flex-col justify-center items-center m-auto h-full">
    <div class="group animate-jump-text -rotate-2 hover:rotate-2 transition-all">
        <center class="pt-2 group-hover:invisible">click one of those above</center>
        <center class="pt-2 group-hover:visible invisible">fuck off</center>
    </div>
</div>