<div id="modal" class="modal absolute z-10 w-full h-full backdrop-blur-sm">
    <div
        class="modal-container absolute-center flex flex-col p-2 w-1/2 h-1/2 bg-green-500 border-2 border-black rounded-md">
        <div class="flex border-b-2 border-black pb-2">
            <span class="flex-1 justify-self-center"></span>
            <button
                class="transition relative justify-self-end rounded-full border-2 p-2 border-black hover:scale-110 bg-black hover:bg-red-500"
                hx-get="@(UtilityP.Routes[RouteP.MODAL_CLEAR])" hx-target="#@(UtilityP.HTMX[Target.MODAL_CONTENT])">
                <span class="absolute-center text-white">X</span>
            </button>
        </div>
        <div id="@(UtilityP.HTMX[Target.MODAL_CONTENT])"></div>
    </div>
</div>
