* {
	font-size: 1.5rem;
}

.font-xxx-small {
	font-size: 0.4rem;
}

.font-xx-small {
	font-size: 0.5rem;
}

.font-x-small {
	font-size: 0.75rem;
}

.font-small {
	font-size: 1rem;
}

.font-large {
	font-size: 2rem;
}

.font-x-large {
	font-size: 2.5rem;
}

.font-xx-large {
	font-size: 3rem;
}

.font-xx-large {
	font-size: 3.25rem;
}

.font-xxx-small-recursive,
.font-xxx-small-recursive * {
	font-size: 0.4rem;
}

.font-xx-small-recursive,
.font-xx-small-recursive * {
	font-size: 0.5rem;
}

.font-x-small-recursive,
.font-x-small-recursive * {
	font-size: 0.75rem;
}

.font-small-recursive,
.font-small-recursive * {
	font-size: 1rem;
}

.font-large-recursive,
.font-large-recursive * {
	font-size: 2rem;
}

.font-x-large-recursive,
.font-x-large-recursive * {
	font-size: 2.5rem;
}

.font-xx-large-recursive,
.font-xx-large-recursive * {
	font-size: 3rem;
}

.font-xxx-large-recursive,
.font-xxx-large-recursive * {
	font-size: 3.25rem;
}

@media only screen and (max-width: 48rem) {
	* {
		font-size: 1rem;
	}

	.font-xxx-small {
		font-size: 0.16rem;
	}

	.font-xx-small {
		font-size: 0.2rem;
	}

	.font-x-small {
		font-size: 0.25rem;
	}

	.font-small {
		font-size: 0.5rem;
	}

	.font-large {
		font-size: 1.5rem;
	}

	.font-x-large {
		font-size: 2rem;
	}

	.font-xx-large {
		font-size: 2.5rem;
	}

	.font-xx-large {
		font-size: 2.75rem;
	}

	.font-xxx-small-recursive,
	.font-xxx-small-recursive * {
		font-size: 0.16rem;
	}

	.font-xx-small-recursive,
	.font-xx-small-recursive * {
		font-size: 0.2rem;
	}

	.font-x-small-recursive,
	.font-x-small-recursive * {
		font-size: 0.25rem;
	}

	.font-small-recursive,
	.font-small-recursive * {
		font-size: 0.5rem;
	}

	.font-large-recursive,
	.font-large-recursive * {
		font-size: 1.5rem;
	}

	.font-x-large-recursive,
	.font-x-large-recursive * {
		font-size: 2rem;
	}

	.font-xx-large-recursive,
	.font-xx-large-recursive * {
		font-size: 2.5rem;
	}

	.font-xxx-large-recursive,
	.font-xxx-large-recursive * {
		font-size: 2.75rem;
	}
}
