@import 'tailwindcss';

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input {
	outline: none;
}

:root {
	--primary-color: #ffccff;
	--secondary-color: #ccffcc;
	--transition-time: 0.1s;
}

main {
	background-image: linear-gradient(to bottom, var(--primary-color), var(--secondary-color));
	font-family: monospace;
}

.absolute-center {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

/* assumes you have absolute already */
.absolute-x-center {
	left: 50%;
	transform: translateX(-50%);
}

/* assumes you have absolute already */
.absolute-y-center {
	top: 50%;
	transform: translateY(-50%);
}

.button {
	background-color: white;
	border: 0.2rem solid black;
	border-radius: 0.5rem;
	cursor: pointer;
	font-weight: 600;
	padding: 0.3rem;
	padding-left: 0.6rem;
	padding-right: 0.6rem;
	transition: all;
	transition-duration: var(--transition-time);
}

.button:hover {
	background-color: var(--primary-color);
	rotate: 2deg;
	scale: 105%;
}

.button-border {
	border: 1px solid black;
	text-align: center;
	font-weight: bold;
	transition: transform;
	transition-duration: var(--transition-time);
	cursor: pointer;
}

.button-border:hover {
	transform: rotate(12deg) scale(105%);
}

.input {
	width: 8rem;
	border: 1px solid black;
	padding-left: 0.2rem;
	padding-right: 0.2rem;
}

.input:focus {
	border: 1px solid var(--secondary-color);
}

.invalid {
	border-color: red;
}

label:has(+ * .invalid),
label:has(+ .invalid) {
	color: red;
}
