@page "/login"
@model LoginModel

<form
    class="form p-2 mt-2 flex flex-col gap-2 bg-white items-center justify-center border-4 justify-self-center border-black"
    method="post">
    <h2>If you don't know your details, you shouldn't be here...</h2>
    <div>
        <label asp-for="@Model.Credentials.Username"></label>
        <input asp-for="@Model.Credentials.Username" />
    </div>
    <div>
        <label asp-for="@Model.Credentials.Password"></label>
        <input asp-for="@Model.Credentials.Password" type="password" />
    </div>
    <button class="button">Submit</button>
</form>