@keyframes spin-logo {
    0% { rotate: 0deg; }
    50% { rotate: 365deg; scale: 110%; width: 4.0rem;  }
    100% { rotate: 360deg;  }
}

@keyframes jump-text {
    0% { transform: translate(0px, 0px); }
    20% { transform: translate(0px, -15px); }
    40% { transform: translate(0px, 10px); }
    60% { transform: translate(0px, -5px); }
    80% { transform: translate(0px, 2px); }
}