.button:hover {
    background-color: var(--primary-color);
    rotate: 2deg;
    scale: 105%;
}

.form input:focus {
    background-color: var(--secondary-color);
}

.modal:has(*:last-child:empty) {
    display: none;
}

.table td:not(:nth-child(-n + 2),:nth-last-child(-n + 2)),
.table th:not(:nth-child(-n + 2),:nth-last-child(-n + 2)) {
    border: 1px solid black;
    padding: 0px;
    padding-left: 2px;
    padding-right: 2px;
}

.table th:not(:nth-last-child(-n + 2), :nth-child(-n + 2)):nth-child(-n + 3),
.table td:not(:nth-last-child(-n + 2), :nth-child(-n + 2)):nth-child(-n + 3) {
    border-left: 2px solid black;
}

.table th:not(:nth-child(-n + 2),:nth-last-child(-n + 2)) {
    border-top: 2px solid black;
}

.table th:not(:nth-child(-n + 2), :nth-last-child(-n + 2)):nth-last-child(-n + 3),
.table td:not(:nth-child(-n + 2), :nth-last-child(-n + 2)):nth-last-child(-n + 3) {
    border-right: 2px solid black;
}

.table tbody tr:last-child > *:not(:nth-child(-n + 2), :nth-last-child(-n + 2)) {
    border-bottom: 2px solid black;
}

.table thead th:not(:nth-child(-n + 2),:nth-last-child(-n + 2)) {
    background-color: var(--secondary-color);
}

.table-row > *:not(:nth-last-child(-n + 2), :nth-child(-n + 2)) {
    background-color: white;
}

.table-row > *:not(:nth-last-child(-n + 2), :nth-child(-n + 2)):hover {
    background-color: var(--primary-color);
}

.table-row:hover .table-row-hidden {
    visibility: visible;
    transform: rotate(0deg);
}

.table-row-hidden:hover {
    transform: scale(1.1);
}

@media (max-width: 480px) {
    .media {
        transform: scale(0.75);
    } 
}